<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %> 
</head>

<body>
    <header>
        <%- include('../../layout/header') %> 
    </header>
    <main>
        <div class="serach-head">
            <h3>Search Result</h3>
        </div>
        </div>
            <div class="container">
                <img class="imgdet" src="<%=data.imge_url %>" alt="">
                <h5 class="titledet"><%= data.title %></h5>
                <h6 class="autherdet"><%= data.author %></h6>
                <p><%= data.description %></p>
                <button class="updetailbtn"><a href="/update/<%=data.id %>">Update</a></button>
                <form action="/delete/<%=data.id %>?_method=DELETE" method="post">
                <button class="dledetailbtn">delete</button>
                </form>
            </div>
    </main>
    <footer>
        <%- include('../../layout/footer') %> 
    </footer>
</body>

</html>