<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Book</title>
    <link rel="stylesheet" href="/style/showEjsTest.css">
</head>

<body>
    <header>
        <h1>Best Books!</h1>
        <button>Show</button>
    </header>
    <main>
        <div class="serach-head">
            <h3>Search Result</h3>
        </div>
        </div>
        <% searchResults.forEach( book=> { %>
            <div class="container">
                <img src="<%=book.img %>" alt="">
                <h5><%= book.title %></h5>
                <h6><%= book.author %></h6>
                <form action="/addFav" method="post">
                    <input type="text" name="title" value="<%=book.title %>" hidden>
                    <input type="text" name="author" value="<%=book.author %>" hidden>
                    <input type="text" name="description" value="<%=book.description %>" hidden>
                    <input type="text" name="isbn" value="<%=book.industryIdentifiers ? book.industryIdentifiers.identifier:'no isbn' %>" hidden>
                    <input type="text" name="imge_url" value="<%=book.img %>" hidden>
                    <button>Add To Fav</button>
                </form>
            </div>
        <% }) %>
    </main>
    <footer>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </footer>
</body>

</html>