<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %> 
</head>

<body>
    <header>
        <%- include('../layout/header') %> 
    </header>
    <main>
        <div class="serach-head">
            <h3>Search Result</h3>
            <h4 class="count">Count <%= count %></h4>
        </div>
        </div>
       <button class="searchbtn"><a class="search" href="/search/new">Search For Books</a></button> 
        <% result.forEach( book=> { %>
            <div class="container">
                <img class="imgdet" src="<%= book.imge_url %>" alt="">
                <h5 class="titledet"><%= book.title %></h5>
                <h6 class="autherdet"><%= book.author %></h6>
                <h6>Isbn <%=(book.industryIdentifiers && book.industryIdentifiers[0].identifier) ? book.industryIdentifiers[0].identifier : 'no isbn' %></h6>
                <!-- <p><%= book.description %></p> -->
                <button class="buttonidx"><a href="/books/<%=book.id%>">Show</a></button>
            </div>
        <% }) %>
    </main>
    <footer>
        <%- include('../layout/footer') %> 
    </footer>
</body> 

</html>